body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.profile img{
    width: 42px;
    height: 42px;
}

.sidebar{ 
    height: 100vh;
    width: 280px;
    background: #ffffff;
}

.sidebar-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

.upgrade-card{
    margin-top: 40px;
}

.profile{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}