body {
    background-color: #FAFBFF;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.sidebar {
    height: 100vh;
    width: 280px;
    background: #ffffff;
    border-right: 1px solid #f0f0f0;

}

.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 28px 24px;

    box-sizing: border-box;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 40px;
}

.upgrade-card {
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(100deg,
            #EAB3F2 0%,
            #7B4DFF 50%,
            #4623E9 100%);
    color: white;
    text-align: center;
    font-size: 14px;
}

.upgrade-btn {
    display: block;
    margin-top: 16px;
    padding: 10px;
    background: white;
    color: #5932ea;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.sidebar-spacer {
    flex: 1;
}

.profile {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-info strong {
    display: block;
    font-size: 14px;
}

.profile-info span {
    font-size: 12px;
    color: #777;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 22px;
}

.logo .version {
    font-size: 12px;
    color: rgba(131, 131, 131, 1);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    border-radius: 10px;
    color: #9197B3;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-item:hover {
    background: #f5f5f5;
}

.nav-item.active {
    background: #5932EA;
    color: white;
}

.nav-item.active:hover {
    background: #5932EA;
}

.nav-item img {
    width: 20px;
    height: 20px;
}


.main-content {
    flex: 1;
    padding: 40px;

}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-bar h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.search-box {
    background: white;
    padding: 10px 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #B5B7C0;
    font-family: 'Poppins', sans-serif;
}


.stats-container {
    display: flex;
    background: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    align-items: center;
}

.stat-card {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    border-right: 1px solid #E0E0E0;
}

.stat-card:last-child {
    border-right: none;
}

.icon-wrapper {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.green-bg {
    background-color: #D3FFE7;

}


.icon-wrapper img {
    width: 40px;
    height: 40px;
}

.stat-info {
    display: flex;
    flex-direction: column;
}

.stat-title {
    color: #ACACAC;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.stat-value {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0;
    line-height: 1;
}


.stat-trend {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.trend-val {
    font-weight: 700;
}

.stat-trend.up {
    color: #00AC4F;
}

.stat-trend.down {
    color: #D0004B;
}

.trend-text {
    color: #292D32;
    font-weight: 400;
}


.avatar-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.avatar-group img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -10px;
}

.avatar-group img:first-child {
    margin-left: 0;
}